/target/
/build/
/bin/
/out/
/ibello/.settings
/ibello/*.pid
/ibello/results/

/.gradle/
/gradlew
/gradlew.bat
/gradle/wrapper
/gradle/
/.idea/
/.settings/
/features/sandbox-*.feature
local.properties
/tmp/
/test-output/
/test-data/
/.classpath
/.project
